.login-page {
    background-color: #fafafa;
    padding: 25px;
}

.user-auth__error {
    color: red;
    margin-bottom: 17px;
}

.login__form-fields {
    display: flex;
    flex-direction: column;
    
}

.login__form-fields > * {
    margin-bottom: 15px;
}

.login__logo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.login__submit {
    display: flex;
}

.login__help-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: gray;
    font-size: 14px;
}